<!DOCTYPE html>




<div id="Container">
  <upperBox [section]="'Playlist details'"></upperBox>
  <div id="wrapper" class="shadow-sm  rounded">
    <h2>Details</h2>

  
    <editForm [currentPlaylist] ="playlist"></editForm>


    <h3>Songs</h3>
    <table id="songTable" class="row-playlist">
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
      </tr>

      <tr *ngFor="let song of songs">
        <td>{{song.id}}</td>
        <td>{{song.title}}</td>
        <td>{{song.description}} </td>
        <td><a (click)="deleteSong(song.id.toString())">Remove</a></td>
      </tr>
    </table>
  </div>

  <footer>
    <navBar></navBar>
  </footer>
</div>
